<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Gift Card</title>
</head>
<body>
  <div class="form">
    <div class="title">Gift Card</div>
    <div class="subtitle">Your Current Balance information:</div>
    <div id="balance_text">
        <h3>Your Current Balance is: </h3><span>200 TK</span>
    </div>
    

    <button type="text" class="submit">Back To Home</button>
  </div>
</body>
</html>